@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=My+Soul&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
=======
>>>>>>> e3364b69a466b1206e7bb24be9312a69890c9375

*{
	margin: 0;
	padding: 0;
}

body{
    background-color: #fff;
}
#menu{
    padding-left: 2em;
    border-bottom: 3px solid #000;
}
#menu a{
    font-family: 'Roboto Mono', monospace;
    color: #000;
    text-shadow: 1px 1px #fff;
    font-size: 22px;
}

#rango h1{
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ffb152;
    border: solid #000;
    border-left: none;
    border-right: none;
    text-shadow: 1px 1px 3px #fff;
    font-size: 2.2em;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* MODAL */
.modalA{
    position: fixed;
    top: 60px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgba(255, 177, 82, 1);*/
    background: linear-gradient(190deg,rgba(252, 214, 167, 1), rgba(255, 177, 82, 1));
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border: 3px solid #000;
}

/*MODAL CONFIG*/
.modalA:target{
    opacity: 1;
    pointer-events: auto;
}

.modalA h3, .modalA h4{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;
}

.modalA li, .modalA p{
    margin-left: 20px;
}

.modalA button#fechar{
    align-items: center;
    width: 40px;
    margin-top: 7px;
    margin-left: 7px;
    border: 2px solid #000;
}

.modalA > div {
    width: 100%;
    position: relative;
    padding: 15px 20px;
}

.slide{
    background-color: transparent;
}

.slide img{
    height: 600px;
    border: 10px solid #000;
}

.estrogonofe:link,.estrogonofe:visited, .estrogonofe:active, .estrogonofe:hover{
	text-decoration: none;
    background-color: #fccfa7;
    color: #000;
    text-align: center;
}

.estrogonofe:hover fieldset{
    color: #000;
}

div img#imagem{
    height: 175px;
}

.caixa{
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 4px #000;
    border-radius: 10px;
    max-width: 100%;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
    margin: 5px;
}

.caixa:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
