@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

*{
    margin: 0;
	padding: 0;
}

body{
     background-color: #fff;
}

#menu{
    padding-left: 2em;
    border-bottom: 3px solid #000;
}

#menu a{
    font-family: 'Roboto Mono', monospace;
    color: #000;
    text-shadow: 1px 1px #fff;
    font-size: 22px;

}

#intro{
    background-color: #fccfa7;
    border: solid #000 ;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    width: 97.5%;
    height: 300px;
    margin-top: 10px;
}

#intro h1{
    font-size:2em;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px ;
    font-family: 'Indie Flower', sans-serif;
    font-weight: 600;
}
#intro p{
    text-align:justify;
    font-size: 1.4em;
    margin-left: 20px;
}

#intro img{
    height: 10em;
    margin-left: 50px;
}

#Faixa h1{
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom:8px ;
    background-color: #ffb152;
    border: solid #000;
    border-left: none;
    border-right: none;
    text-shadow: 1px 1px 3px #fff;
    font-size: 2.2em;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    text-align: center;
}

.estrogonofe:link,.estrogonofe:visited, .estrogonofe:active, .estrogonofe:hover{
    text-transform: uppercase;
	text-decoration: none;
    background-color: transparent;
    color: #000;
    text-align: center;
}

.estrogonofe img{
    border-radius: 10px;
    width: 400px;
}

.estrogonofe:hover fieldset{
    text-decoration:underline;
    color: #000;
}

.caixa{
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 4px #000;
    border-radius: 10px;
    max-width: 100%;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
    margin-bottom: 60px;
}

.caixa:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#desc{
    background-color: #ffb152; 
}

#desc h1{
    font-size:2em;
    text-align: left;
    margin-left: 20px;
    margin-top: 200px;
    padding-top: 20px;
    font-family: 'Indie Flower', sans-serif;
    font-weight: 600;
}
#desc p, #desc li{
    margin-left: 20px;
    list-style-image: url("../image/favicon-16x16.png");
}
