@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=My+Soul&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
    background-image: url("../image/fundo.jpg");
    background-position-x: center;
    align-items: center;
}

#titulo{
    text-align: center;
    padding-top: 20px;
}

ul#janela{
    margin-bottom: 30px;
}

ul#janela iframe{
    background-color: #fff;
    border-style: solid;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-width: 3px;
}